

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: space-around;
  }
  
  .product-item {
    border: 1px solid;
    border-color: rgb(135, 134, 134);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: rgb(245, 241, 241);
   transition: 0.5s;
  }
  
  .product-image {
    max-height: 200px; 
    max-width: 250px; 
   
  }
  
  .product-details {
    margin-top: 10px;
    text-align: center;
  }
  
  .product-title {
    font-size: medium;
  }
  
  .product-price {
    padding: 5px 10px;
    background-color: rgb(162, 12, 248);
    border-radius: 10px;
    color: white;
  }
  
  .product-price span {
    color: rgb(118, 241, 47);
  }
  
  .product-item:hover{
  scale: 1.04;
  }